@{
    ViewBag.Title = "About";
}
<h2 class="headertitle">yogaRx</h2>
    <h3 class">Yoga Rx....the feel better yoga</h3>

    <p class="paratext"> What ails you? If its a backache, headache or even heartache, then the Yoga Rx app is here for you. The Yoga Rx app displays poses which address common everyday ailments, which we all face. These poses were carefully selected with you in mind, to quickly help you get started with ease. Don't let what's ailing you get the best of you. Use Yoga Rx to help you feel brand new! </p>