

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<h4>AILEMENTS</h4>

<h4>Digestion</h4>
<h4>Headache</h4>
<h4>Backache</h4>
<h4>PMS</h4>
<h4>Suatica</h4>
<h4>Carpal Tunnel</h4>
<h4>Anixiety</h4>
<h4>Depression</h4>
<h4>Insomnia</h4>
<h4>Energizing</h4>