@{
    ViewBag.Title = "About the Developers";
}
<h2>@ViewBag.Title.</h2>

<h3>Devs:</h3>

<address>
    <strong>Holly Rhodes:</strong> <a href="http://hollymr.github.io/ ">GitHub</a>
    <strong>Denise William:</strong> <a href="http://">GitHub</a>
    <strong>Christopher Casasola </strong> <a href="http://">GitHub</a>
    <strong>Jael Jones:</strong> <a href="https://JaelJones.com">Portfolio</a>

</address>