@{
    ViewBag.Title = "about the developers";
}
<h6 class="headertitle">@ViewBag.Title.</h6>

<h4 class="paraheader">Devs:</h4>

<address>
    <strong class="paratext">Holly Rhodes:</strong> <a href="http://hollymr.github.io/ ">GitHub</a>
    <strong class="paratext">Denise William:</strong> <a href="http://msbluphire.github.io">GitHub</a>
    <strong class="paratext">Christopher Casasola </strong> <a href="https://github.com/iamchiiyousee">GitHub</a>
    <strong class="paratext">Jael Jones:</strong> <a href="http://www.jaeljones.com"> Portfolio</a>

</address>