@{
    ViewBag.Title = "About the developers";
}
<h6 class="headertitle">@ViewBag.Title</h6>


<address>
    <ul>
    <li><strong class="paratext">Holly Rhodes:</strong> <a href="http://hollymr.github.io/ ">Portfolio</a></li>
    <li><strong class="paratext">Denise Williams:</strong> <a href="http://msbluphire.github.io">Portfolio</a></li>
    <li><strong class="paratext">Christopher Casasola </strong> <a href="https://github.com/iamchiiyousee">Portfolio</a></li>
    <li><strong class="paratext">Jael Jones:</strong> <a href="http://www.jaeljones.com"> Portfolio</a></li>
        </ul>

</address>