@{
    ViewBag.Title = "Home Page";
}
@*<link href="~/Content/Site.css" rel="stylesheet" />
    @Html.ActionLink("Main page", "Main", "Home")
<div>*@
    <div>

        <header class="container">
            <div id="header" class="container">

                <div>
                    <h1 id="headertitle">YOGA Rx</h1>

                    <p id="lead">Say Something here?</p>

                </div>
            </div>

        </header>
    </div>
    <div class="container-fluid"  id="photo">
    <div class="container">
       
    </div>
</div>
 
  


    <div class="body-content container">
        <div class="row">
            <div class="col-lg-6">
                <h6>Disclaimer </h6>
                <p id="disclaimer"> YogaRx is not a replacement for any medically prescribed regimen, nor are we responsible for any injuries. Please see your medical doctor for proper care and diagnosis. Use YogaRx at your own discretion.</p>
            </div>
        </div>
     </div>
<!--This is a change-->
  