@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        <header class="container-fluid">
            <div id="header" class="container-fluid">

                <div>
                    <h1 id="headertitle">YOGA Rx</h1>

                    <p id="lead">Say Something here?</p>

                </div>
            </div>

        </header>
    </div>
    <div class="container-fluid"  id="photo">
    <div class="container">
       
    </div>
</div>
 
  


    <div class="body-content container">
        <div class="row">
            <div class="col-lg-6">
                <h6>Disclaimer </h6>
                <p id="disclaimer"> YogaRx is not medical replacement for any health condiitons, nor are we responsible for any injuries. Please see you medical doctor for proper care and diagnosis. Use YogaRx at your own discretion.</p>
            </div>
        </div>
     </div>
  </div>
  