@model IEnumerable<yogaRx.Models.Pose>

@{
    ViewBag.Title = "Index";
}

<h2>Poses</h2>
<br />

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>


@foreach (var item in Model) {
   
        
            <div>
                <h4>
                    @Html.ActionLink(item.PoseName, "Details", "Poses", new { id = item.PoseId }, null)
                </h4>
            </div>
           
       
        
            <div>
                @Html.Raw(item.PoseDesc)
            </div>
            <br/>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.PoseId }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.PoseId })*@ 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.PoseId })*@

     
}


