@model IEnumerable<yogaRx.Models.Pose>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Pose Name
        </th>
        <th>
            Pose Description
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PoseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoseDesc)
        </td>
        <td>
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.PoseId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.PoseId }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.PoseId })*@
            @*@Html.RadioButtonFor(x => x., "Positive", new { htmlAttributes = new { @class = "form-control" } })
            @Html.RadioButtonFor(x => x.ReviewType, "Negative", new { htmlAttributes = new { @class = "form-control" } })*@
        </td>
    </tr>
}

</table>
