@model IEnumerable<yogaRx.Models.Ailment>

@{
    ViewBag.Title = "Arms";
}

<h2>Arms</h2>


@foreach (var item in Model)
{

    <ul>
        <li>
            <div>
                <h4>
                    @Html.ActionLink(item.AilmentName, "Details", "Ailments", new { id = item.AilmentId }, null)
                </h4>
            </div>
        </li>
    </ul>

            @*@Html.ActionLink("Edit", "Edit", new { id=item.AilmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AilmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AilmentId })*@
     
}


