@model IEnumerable<yogaRx.Models.Ailment>

@{
    ViewBag.Title = "AilmentIndex";
}

<h2>Ailments</h2>



@foreach (var item in Model)
{

    <ul>
        <li>
            <div>
                <h4>
                    @Html.ActionLink(item.AilmentName, "Details", "Poses", new { id = item.AilmentId }, null)
                </h4>
            </div>
        </li>
    </ul>

            @*@Html.ActionLink("Details", "Details", new { id=item.AilmentId })*@ 
           
      
}


